@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* ==========================
         CSS Variables
   ========================== */

:root {

/* Colors */
--clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-desaturated-dark-blue: hsl(214, 17%, 51%);
--clr-grayish-blue: hsl(212, 23%, 69%);
--clr-light-grayish-blue: hsl(210, 46%, 95%);

/* Font */
--Manrope: "Manrope", serif;
--font-weight-500: 500;
--font-weight-700: 700;

/* Space */
--space-200: 1rem;
--space-300: 1.5rem;
--space-400: 2rem;
--space-500: 2.5rem;
--space-600: 3rem;
--space-700: 3.5rem;
--space-800: 4rem;
--space-1300: 6.5rem;
--space-2000: 10rem;
}

/* ==========================
         CSS Reset
   ========================== */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* ==========================
         CSS Custom Class
   ========================== */
.active {
  display: flex;
}

/* ==========================
         Main Content
   ========================== */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-grayish-blue);
  font-family: var(--Manrope);
  height: 100vh;
}

/* ==========================
         Article Component
   ========================== */

.article-component > img, .article-component {
  border-radius: 8px 8px 0px 0px;
}

.article-component > img {
  margin-bottom: 2rem;
}

.article-component {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 327px;
  border-radius: 8px 8px 8px 8px;
}

.article-text {
  width: 267px;
  margin: auto;
}

.article-text > h1 {
  font-size: 1.25rem;
  letter-spacing: 0.25px;
  line-height: 130%;
  font-weight: var(--font-weight-700);
}

.article-text > p {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: var(--font-weight-500);
  line-height: 140%;
  letter-spacing: 0.12%;
  font-size: 0.813rem;
  color: var(--clr-very-dark-grayish-blue);
}

/* ==========================
         Michelle Section
   ========================== */

.michelle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.125rem;
}

.michelle-container {
  display: flex;
  flex-direction: row;
}

.michelle-text {
  display: flex;
  flex-direction: column;
  font-size: 0.813rem;
  margin-left: 1rem;
}

.michelle-text > p:first-child {
  font-weight: var(--font-weight-700);
  line-height: 140%;
  letter-spacing: 0.12%;
  font-size: 0.813rem;
  color: var(--clr-very-dark-grayish-blue);
}

.michelle-text > p:last-child {
  font-weight: var(--font-weight-500);
  line-height: 140%;
  letter-spacing: 25%;
  font-size: 0.813rem;
  color: var(--clr-grayish-blue);
}

.michelle-container > img {
  width: 40px;
  border-radius: 50%;
}

#share-icon-background {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light-grayish-blue);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  z-index: 2;
}

/* ==========================
         Share Overlay
   ========================== */

.share-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 76px;
  position: absolute;
  background-color: var(--clr-very-dark-grayish-blue);
  border-radius: 0px 0px 8px 8px;
}

.share-overlay > p {
  color: var(--clr-grayish-blue);
  font-size: 0.813rem;
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 4px;
  margin-left: 1.875rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-left: 1.5rem;
}

.social-icons > img {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .article-component > img, .article-component {
    border-radius: 8px 0px 0px 8px;
  }

  .article-component > img {
    margin-bottom: 0rem;
  }

  .drawer-img {
    width: 229px;

  }
  
  .article-component {
    flex-direction: row;
    background-color: white;
    width: 608px;
    height: 346px;
    border-radius: 8px 8px 8px 8px;
  }

  .article-text {
    width: 311px;
    margin: auto;
  }
  
  .article-text > p {
    margin-block: 1.5rem;
  }

  .michelle-wrapper {
    margin-bottom: 0rem;
  }

  
  /* ==========================
        Share Overlay
   ========================== */

  .share-overlay {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 248px;
    height: 55px;
    top: 12rem;
    right: -5rem;
    position: absolute;
    border-radius: 8px 8px 8px 8px;
  }

  #arrow-down {
    position: absolute;
    color: var(--clr-very-dark-grayish-blue);
    top: 14.8rem;
    right: 2.3rem;
  }
  
  .share-overlay > p {
    margin-left: 0rem;
  }

.social-icons {
  margin-left: 0rem;
}

}

@media screen and (min-width: 1440px) {
  .article-component > img {
    margin-bottom: 0rem;
  }

  .drawer-img {
    width: 285px;
    object-fit: cover;
    object-position: left;
  }
  
  .article-component {
    flex-direction: row;
    background-color: white;
    width: 730px;
    height: 280px;
  }

  .article-text {
    width: 365px;
    margin: auto;
    padding: 0;
  }
  
  .article-text > p {
    margin-block: 1.5rem;
  }

  .michelle-wrapper {
    margin-bottom: 0rem;
  }

    /* ==========================
         Share Overlay
   ========================== */

    .share-overlay {
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      width: 248px;
      height: 55px;
      top: 8rem;
      right: -5rem;
      position: absolute;
      border-radius: 8px 8px 8px 8px;
    }
  
    #arrow-down {
      position: absolute;
      color: var(--clr-very-dark-grayish-blue);
      top: 10.9rem;
      right: 2.6rem;
    }
    
    .share-overlay > p {
      margin-left: 0rem;
    }
  
  .social-icons {
    margin-left: 0rem;
  }
}
